/* Portal down*/
#out{
	border-style: solid;
	border-width: 1px;
	border-color: rgb(255, 255, 255);
	background-color: rgb(8, 8, 9);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: rgb(255, 0, 0);
	text-align: center;
}

/* Images */
img{
	border: 0px;
}
/* Body */
body{
	background-color: rgb(0, 0, 0);
	background-image: url(./images/style/background.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

/* Footer */
#panel a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #FFA515;
	text-decoration: none;
}

/* Main table*/

table.mainframe{
	width: 800px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7px;
	margin: 0;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(255, 255, 255);
	background-color: rgb(8, 8, 9);
}

/* Weblogo */

th.weblogo{
	background-image: url(./images/style/header_bg.gif);
	height: 150px;
	margin: 0;
	background-position: center;
}

th.weblogo img{
	border: 0;
}

/* Main content container */

td.webcontent{
	background-image: url(./images/style/webcontent.png);
	height: 600px;
	vertical-align: top;
	color: rgb(255, 255, 255);
	font-size: 8pt;
	text-decoration: none;
	background-repeat: no-repeat;
	background-attachment: scroll;
	border: 1px;
	border-color: rgb(255, 255, 255);
}

td.webcontent a{
	color: #FFA515;
	text-decoration: none;
	font-size: 8pt;
}
td.webcontent a:hover{
	color: #FFA515;
	text-decoration: underline;
	font-size: 8pt;
}

td.content{
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: rgb(255, 255, 255);
	text-decoration: none;
	vertical-align: top;
	border: 1px;
	border-color: rgb(255, 255, 255);
}


/* Copyright message */

td.copyright{
	font-size: 7pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: rgb(255, 255, 255);
	text-decoration: none;
	vertical-align: top;
	text-align: center;
}

/* Left menu */

*{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#menu{
	font-size: 7pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: rgb(255, 255, 255);
	width: 185px;
	border-style: none none none none;

}

#menu li a{
	height: 21px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 16px;
	text-decoration: none;
	background-image: url(./images/style/selection.png);
	background-repeat: no-repeat;

}
#menu li a:link, #menu li a:visited{
	font-size: 7pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: rgb(255, 255, 255);
	display: block;
	padding: 5px 0 0 10px;
}

/* Desplegable menu */

#dmenu{
	font-size: 7pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: rgb(255, 255, 255);
	width: 185px;
	border-style: none none none none;

}

#dmenu li a{
	height: 21px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 16px;
	text-decoration: none;
	background-image: url(./images/style/dselection.png);
	background-repeat: no-repeat;

}
#dmenu li a:link, #dmenu li a:visited{
	font-size: 7pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: rgb(255, 255, 255);
	display: block;
	padding: 5px 0 0 10px;
}

#haccount{
	font-size: 7pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: rgb(255, 255, 255);
	width: 185px;
	border-style: none none none none;
}

#haccount li a{
	height: 21px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 16px;
	text-decoration: none;
	background-image: url(./images/style/d2selection.png);
	background-repeat: no-repeat;

}
#haccount li a:link, #haccount li a:visited{
	font-size: 7pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: rgb( 181, 181, 185);
	display: block;
	padding: 5px 0 0 35px;
}
#haccount li a:hover{
	font-size: 7pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFA515;
	display: block;
	padding: 5px 0 0 35px;
}

td.webmenu{
	background-image: url(./images/style/menu.png);
	vertical-align: top;
	background-repeat: no-repeat;
	background-color: rgb(77, 77, 87);
	width: 185px;
}

/* News header */

th.header{
	background-image: url(./images/style/news_bg.gif);
	height: 21px;
	display: block;
	height: 21px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 21px;
	width: 600px;
}

/* Status info */

#serverstatus{
	font-size: 7pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: rgb(255, 255, 255);
	text-decoration: none;
	vertical-align: top;
	text-align: center;
}

/* Execution time */

td.querytime{
	font-size: 6pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: rgb(255, 255, 255);
	text-decoration: none;
	vertical-align: top;
	/* text-align: right; */
	float: right;
}

table.querytime{
	float: right;
}

/* Player list */

table.playerlist{
	font-size: 7pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: top;
	text-align: center;
	border-color: rgb(181, 181, 185);
	color: rgb(255, 255, 255);
	width: 400px;
	border-width: 1px;
	border-style: solid;
}

tr.playerlist{
	color: #FFA515;
	background-color: rgb(128, 128, 128);
	border-width: 1px;
	border-style: solid;
}

/* Register form */

table.registerform{
	font-size: 7pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: rgb(255, 255, 255);
}

/* Item list */

#iheader table{
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: rgb(255, 255, 255);
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	width: 600px;
}

#iheader a{
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-color: rgb(255, 255, 255);
}
#iheader a:hover{
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	border-color: rgb(255, 255, 255);
}

#iheader td{
	border-style: solid;
	border-width: 1px;
	background-color: rgb(44, 44, 56);
}

#iheader th{
	border-style: solid;
	border-width: 1px;
	background-color: rgb(77, 77, 84);
}

/* Forum style */


#fheader table{
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: rgb(255, 255, 255);
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	width: 600px;
}

#fheader a{
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-color: rgb(255, 255, 255);
}
#fheader a:hover{
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	border-color: rgb(255, 255, 255);
}

#fheader td{
	border-style: solid;
	border-width: 1px;
	background-color: rgb(77, 77, 84);
}

/* Topic style */

#theader table{
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: rgb(255, 255, 255);
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	width: 600px;
}

#theader a{
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-color: rgb(255, 255, 255);
}
#theader a:hover{
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	border-color: rgb(255, 255, 255);
}

#theader td{
	border-style: solid;
	border-width: 1px;
	vertical-align: top;
	background-color: rgb(44, 44, 56);
}

#theader th{
	border-style: solid;
	border-width: 1px;
	background-color: rgb(77, 77, 84);
	vertical-align: top;
}

#buttons-up{
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-align: right;
}

#buttons-down{
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-align: right;
}

#pages{
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-align: left;
}

#createtopic{
	font-size: 8pt;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

#quote{
	font-size: 7pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-align: left;
	border-width: 1px;
	border: 1px;
	background-color: rgb(77,77,87);
	/* margin: 7px; */
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 7px;
}